.bi-cake2 {
  margin-left: 10%;
  color: yellow;
}

.bi-house-heart-fill {
  color: rgb(236, 194, 194);
  margin-left: 12%px;
  font-style: unset;
}

.bi-person-lines-fill {
  color: chartreuse;
  margin-left: 12%px;
}
